<div class="card my-5">
  <div class="card-body">
    <div [formGroup]="searchForm" class="form-group">
      <input (change)="search()" class="form-control col-md-3" formControlName="searchField" id="search"
             id="file"
             placeholder="Поиск файла по имени"
             type="text">
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th (click)="onThClick('fileName')" class="header-cell" scope="col">Имя файла</th>
        <th (click)="onThClick('devType')" class="header-cell" scope="col">Тип устройств</th>
        <th (click)="onThClick('uploadDateTime')" class="header-cell" scope="col">Загружен</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="goToDetails(file)" *ngFor="let file of files">
        <td>{{ file.fileName }}</td>
        <td>{{ file.devType }}</td>
        <td>{{ file.uploadDateTime | date:'yyyy-MM-dd HH:mm'}}</td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <span (click)="getPreviousPage()" [ngClass]="{'disabled' : currentPage==0}" aria-label="Previous"
                class="page-link">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only"><</span>
          </span>
        </li>
        <li *ngFor="let pageNum of totalPagesArr; let i = index" class="page-item"><span (click)="getPage(i)"
                                                                                         [ngClass]="{'disabled' : currentPage==i}"
                                                                                         class="page-link">{{i + 1}}</span>
        </li>
        <li class="page-item">
          <span (click)="getNextPage()" [ngClass]="{'disabled' : currentPage+1==totalPages}" aria-label="Next"
                class="page-link">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">></span>
          </span>
        </li>
      </ul>
    </nav>
  </div>
</div>
